/*Стили украдены по честному*/
@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 2px;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  margin-top: 15px;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #43A047;
}
.form .message {
  margin: 15px 0 0;
  color: #f00000;
  font-size: 14px;
}

body {
  background: #bfbdc9; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #bfbdc9, #87e6cc);
  background: -moz-linear-gradient(right, #bfbdc9, #87e6cc);
  background: -o-linear-gradient(right, #bfbdc9, #87e6cc);
  background: linear-gradient(to left, #bfbdc9, #87e6cc);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;      
}
.product-content {
  position: relative;
  float: left;
  z-index: 1;
  background: #FFFFFF;
  width: 320px;
  height: 500px;
  margin: 25px;
  padding: 40px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.product-content img {
  height: 300px;
}
.product-content div.product-purchase {
  position: absolute;
  bottom: 15px;
  left: 150px;
}
ul {
  height: 36px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #333;
}
li {
  display: block;
  float: left;
  color: #fff;
  padding: 8px;
  text-decoration: none;  
  text-align: center;
  border-right: 1px solid #bbb;
  width: 200px;
  cursor: pointer;
}
li:hover {
  background-color: #4CAF50;
  color: white;
}
.filter-bar {
  position: relative;
  float: left;
  z-index: 1;
  background: #FFFFFF;
  width: 80%;
  max-height: 80px;
  margin: 25px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.pagination {
  position: relative;
  float: left;
  z-index: 1;
  background: #FFFFFF;
  width: 80%;
  max-height: 80px;
  margin: 25px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.checkout-bar {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-height: 80px;
  margin: 25px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.shopping-cart {
  margin-top: 45px;
}
.cart-content {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-height: 450px;
  margin: 25px;
  padding: 5px;
  text-align: left;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.cart-content img {
  height: 200px;
}
.remove-product img {
  height: inherit;
}
.cart-content div {
  display: inline-block;
}
.filter-bar div {
  margin-left: 10px;
  color: blueviolet;
  display: inline-block;
  border-bottom: 1px dashed blueviolet;
  cursor: pointer;
}
.filter-bar div.active {
  color: inherit;
  border-bottom: none;
  font-weight: bold;
}
div.checkout {
  margin-top: 10px;
  color: #fff;
  user-select: none;
  background: #4CAF50;
  padding: .5em 1.2em;
  outline: none;
} 
div.checkout:hover { background: rgb(56, 129, 59); }
div.checkout:active {  background: rgb(152,15,0);  }
.product-purchase input {  text-align: center;  }
.product-purchase button {
  border-radius: 100%;
    background-color: #4caf50;
    border: none;
    color: #fff;
    font-weight: bold;
    font-size: 1.1em;
    width: 24px;
    height: 24px;
}
.product-purchase button:hover { background: rgb(56, 129, 59); }
.product-purchase button:active {  background: rgb(152,15,0);  }
.checkout-bar button {
  background-color: #4caf50;
  border: none;
  color: #fff;
  font-size: 1.1em;
}
.checkout-bar button:hover { background: rgb(56, 129, 59); }
.checkout-bar button:active {  background: rgb(152,15,0);  }
.pagination span {
  margin-left: 10px;
  color: blueviolet;
  display: inline-block;
  cursor: pointer;
  font: 1.2em;
}
button.refresh {
  margin-top: 10px;
  color: #fff;
  user-select: none;
  background: #4CAF50;
  padding: .5em 1.2em;
  outline: none;
  border-radius: inherit;
  width: inherit;
  height: inherit;
}
.cart-content .product-purchase {
  position: absolute;
  bottom: 50%;
  right: 10%
}
.shopping-cart span {
  display: inline-block;
  margin-left: 5px;
  color: #fff;
  font-weight: bold;
}
.cart-content img+div {  position: absolute;  }
.remove-product img {
  position: absolute;
  bottom: -5px;
}
.cart-content div+h2 { display: inline-block; }
.checkout-bar span {  margin: 25px; }